/*GENERAL*/

body
{
	  text-align: center;
}


/*BASIC TABLE*/

table 
{
	  border: 2px solid black;
	  margin: auto;
}

table tr td 
{
    border: 2px solid black;
    border-collapse:collapse;  
}
table td 
{
    width:100px;
    height:100px;
}


#field1, #field2, #field3,
#field4, #field5, #field6,
#field7, #field8, #field9
{
   border-radius: 50%;
   width: 70px;
   height: 70px;
   background: white;
   padding: 15px;
}

/*START*/

.float
{
	
	margin-bottom: 20px;
	text-align: center;
}